nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
  
.logo img {
    height: 50px;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
li {
    margin: 0 10px;
}
  
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  
.contact-info {
    color: #fff;
    text-align: right;
    font-size: 14px;
}
body{
	margin:0px;
	padding: 0px;
	background-color: #FFFFFF;
}
a{
	text-decoration:none;
}
.social a{
	padding: 20px;
	color:#7b7c7c;
	font-size:1.1rem;
}
#contact{
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.social a:hover{
	color:#000000;
	transition: all ease 0.3s;
}
.contact-box{
	background-color:#434445;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 30px;
	box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}
.c-heading h1{
	font-family: Roboto;
	color: #e7eef3;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
.c-heading p{
	font-family: Roboto;
	color:#cecece;
	font-size: 0.8rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.c-inputs form{
	margin: 15px 0px;
	display: flex;
	flex-direction: column!important;
	justify-content: center;
	align-items: center;
}
.c-inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
}
.c-inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.c-inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.5s;
}
.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.5s;
	background-color: rgba(0,0,0,0.1);
}
.c-inputs button:active{
	transform: scale(1.02);
}
.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
    display: block;
}

.footer-basic {
    padding:40px 0;
    background-color: #333;
    color:white;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social-icons {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social-icons > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer-basic .social-icons > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

  
